[MESSAGES CONTROL]
# Отключить предупреждения о слишком длинных строках
disable=C0301
# Отключить предупреждения о том, что метод не использует self или cls
disable=R0201

[BASIC]
# Допустимые имена переменных (для уменьшения количества предупреждений)
good-names=i,j,k,ex,var

# Разрешенные регулярные выражения для названий функций
function-rgx=[a-z_][a-z0-9_]{2,30}$

[DESIGN]
# Максимальное количество аргументов функции
max-args=5

[REPORTS]
max-locals=10
max-attributes=10
max-returns=6
# Отключить генерацию отчета
reports=no